.albums {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    &__item {
        cursor: pointer;
        margin: 0 auto;
        width: 200px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgba($color: #373535, $alpha: 0.2);
        img {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            width: 80px;
            height: 80px;
        }
        span {
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            margin-top: 15px;
        }
    }
    &__wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: rgba($color: #000000, $alpha: 0.2);
        backdrop-filter: blur(10px);
    }
    &__wrapper.open {
        height: 100%;
        display: block;
    }
    &__wrapper.close {
        height: 0;
        display: none;
        text-decoration: none;
        color: black;
    }
    &__body {
        width: 1000px;
        margin: auto;
        background: white;
        margin-top: 5%;
        padding: 20px;
        border-radius: 10px;
        max-height: 75%;
        overflow-y: scroll;
    }
    &__body::-webkit-scrollbar {
        width: 0;
        background: transparent; 
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
        }
    }
    &__close {
        padding-top: 15px;
        text-align: right;
        margin-top: -15px;
        font-size: 15px;
        color: black;
        cursor: pointer;
    }
}